@font-face {
    font-family: 'Agreement';
    src: url('./res/AgreementSignature-qZX6x.ttf') format('truetype');
}


#root {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right top, #ffbff6, #f58ade);
}

.router-link {
    text-decoration: none;
}